@import url(https://fonts.googleapis.com/css?family=Lobster|Lato:300,400,600);

body {
    margin: 0;
    font-family: Lato, sans-serif;
    background: #333;
}
.site-title {
    padding: 1em;
    margin: 0;
    font-size: 30pt;
    font-family: Lobster, sans-serif;
    color: #cccccc;
    text-shadow: 0 0.1em 0 rgba(0,0,0,0.3);
}
.header-container {
    background: #991f1f;
    border-bottom: 0.5em solid #801b1b;
    text-align: center;
}
.form-text {
    margin: 1em;
    font-size: xx-large;
    font-family: Lato, sans-serif;
    outline: none;
    border: none;
    background: #801b1b;
    color: rgba(255,255,255,0.8);
    padding: 0.4em;
    box-shadow: 0 0 1em rgba(0,0,0,0.15) inset;
    width: 800px;
}
.result-container {
    min-height: 50vh;
}
.result-image {
    max-width: 80vw;
    max-height: 40vw;
    display: block;
    margin: auto;
}
footer {
    max-width: 800px;
    margin: 1em auto 0 auto;
    padding: 1em 0;
    color: rgba(255,255,255,0.2);
    border-top: 2px solid;
    font-weight: 300;
    font-size: large;
}
footer a {
    color: inherit;
}
footer h2 {
    margin: 0;
    font-size: larger;
    font-weight: 400;
    text-align: center;
}
.columns {display: flex;}
.column {flex: 1; padding: 0.5em;line-height: 1.5em}
.right {text-align: right;}